@charset "UTF-8";

html {
    width: 100%;
    font-size: 16px;
    color: #FFF;
}

body {
    background: linear-gradient(to top, #FFF450 0%, #0088ff 100%);
    text-align: center;
    height: auto;
}

.first-page{
    height: 100vh;
    margin: 10% 0 0;
}


.atlas {
    width: 14%;
}

header p{
    font-size: 2.8vw;
}

a {
    color: #FFF;
}

#container{
    height: auto;
    font-size: 1.8vw;
    width: 28vw;
    padding: 2.5vw 0;
    margin: 3vw auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px
}

.check-form{
    margin: 2% 6%;
}
.label{
    float: left;
    padding-left: 4%;
    font-size: 1.6vw;
}
.input{
    width: 21vw;
    height: 2.8vw;
    font-size: 1.8vw;
}

.button{
    font-size: 1.8vw;
    margin:4% 0 14% 45%;
    color: #FFF;
    background-color: #FF0000;
    border: none;
    border-radius: 4px;
    padding: 2% 8%;
    cursor: pointer;
}
.link{
    font-size: 1.6vw;
}


.login-button{
    margin:10% 20% 2%;
    font-size: 1.8vw;
    color: #FFF;
    background-color: #FF0000;
    border: none;
    border-radius: 4px;
    padding: 2%;
    cursor: pointer;
}
