@charset "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
}

/* header */
header {
    background: #186AC9;
}
/* ↓追加 */
#head {
    padding: 2%;
}

.atlas {
    width: 10%;
}
/* ↑追加 */

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
    background-color: darkgray;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* ↓投稿編集モーダルレイアウト（カリキュラムコピペ）　*/
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* ↑投稿編集モーダルレイアウト（カリキュラムコピペ）　*/

/* ↓TOPページレイアウトCSS追加 */

.top-page {
    background-color: #fff;
    margin-bottom: 5px;
}

.post-image{
    display: flex;
    justify-content:flex-end;
    width: 10%;
    height: 10%;
}

.post-one{
    background-color: #fff;
    border-bottom-style: solid;
}

.postListImage{
    display: flex;
    justify-content:flex-end;
    margin-right:10px;
}

.postListEditImage img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.postListDeleteImage {
    position: relative;
    width: 45px;
    height: 35px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.postListDeleteImage img:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.postListDeleteImage img:nth-of-type(1) {
    position: absolute;
    top: 49%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 52%;

}
.postListDeleteImage:hover img:nth-of-type(2) {
    opacity: 0;
}

/* ↑TOPページレイアウトCSS追加 */

/*====================================================================
.s_01 .accordion_one
====================================================================*/
.s_01 .accordion_one {
    max-width: 1024px;
    margin: 0 auto;
}

.s_01 .accordion_one .accordion_header {
    background-color: #a9ceec;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 12px 11%;
    text-align: center;
    position: relative;
    z-index: +1;
    cursor: pointer;
    transition-duration: 0.2s;
}

.s_01 .accordion_one:nth-of-type(2) .accordion_header {
    background-color: #ff9a05;
}

.s_01 .accordion_one:nth-of-type(3) .accordion_header {
    background-color: #1c85d8;
}

.s_01 .accordion_one .accordion_header:hover {
    opacity: .8;
}

.s_01 .accordion_one .accordion_header .i_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    margin-top: -20px;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 2s;
}

.s_01 .accordion_one .accordion_header .i_box .one_i {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
    position: relative;
}

.s_01 .accordion_one .accordion_header.open .i_box {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before,
.s_01 .accordion_one .accordion_header .i_box .one_i:after {
    display: flex;
    content: '';
    background-color: #fff;
    border-radius: 10px;
    width: 18px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center center;
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before {
    width: 4px;
    height: 18px;
    top: 0;
    left: 7px;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
    content: none;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.s_01 .accordion_one .accordion_inner {
    display: none;
    padding: 30px 30px;
    border-left: 4px solid #a9ceec;
    border-right: 4px solid #a9ceec;
    border-bottom: 4px solid #a9ceec;
    box-sizing: border-box;
}

.s_01 .accordion_one:nth-of-type(2) .accordion_inner {
    border-left: 2px solid #ff9a05;
    border-right: 2px solid #ff9a05;
    border-bottom: 2px solid #ff9a05;
}

.s_01 .accordion_one:nth-of-type(3) .accordion_inner {
    border-left: 2px solid #1c85d8;
    border-right: 2px solid #1c85d8;
    border-bottom: 2px solid #1c85d8;
}

.s_01 .accordion_one .accordion_inner .box_one {
    height: auto;
}

.s_01 .accordion_one .accordion_inner p.txt_a_ac {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .s_01 .accordion_one .accordion_header {
        font-size: 18px;
    }

    .s_01 .accordion_one .accordion_header .i_box {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }
}

@media screen and (max-width: 767px) {
    .s_01 .accordion_one .accordion_header {
        font-size: 16px;
        text-align: left;
        padding: 15px 60px 15px 15px;
    }
}
