@charset "utf-8";

html {
    width:100%;
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "YuGothic", Yu Gothic, sans-serif;
}

ul,
li,
ol {
    list-style-type: none;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
    width:3.4vw;
}

.btn-primary{
    font-size: 1.3vw;
    padding: 1px;
    width: 16vw;
    letter-spacing: -0.1rem;
}

.btn-danger {
    font-size: 1.3vw;
    padding: 1px;
    width: 16vw;
    letter-spacing: -0.1rem;
}

.text-right{
    width:100%;
    text-align: right;
}

.spacer{
    width: 100%;
}

.transparent{
    display: none;
}

.bi-search{
    font-size: 100%;
    cursor: pointer;
}

.searchbutton{
    width: 2vw;
    height: 2vw;
}

.bi-chevron-up {
    transition: all 1s;
}

.bi-chevron-up.add{
    transform: rotate(-540deg);
}

/* header */
header {
    background: #186AC9;
}

/* ↓追加 */
#head {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8% 2.5% 0.5% 0.8%;
}

#logo{
    margin-right: auto;
}

h1 .atlas {
    width:8.8vw;
    padding: 8%;
}

.login-user{
    margin-top: 4px;
    font-size:1.5vw;
    color: #fff;
    font-weight: bold;
}

.accordion-button{
    width:auto;
    margin:4px 2% 0 2%;
    font-size: 2vw;
}

.bi-chevron-up{
    color: #fff;
}

/* ↓共通にする予定 */


/* ↓投稿 */
.top-page {
    background-color: #fff;
    border-bottom:3px solid gainsboro;
}

.post-form{
    display:flex;
    flex-wrap:wrap;
    padding-left: 7%;
    font-size: 1.5vw;
    margin-top: 3%;
    width: 100%;
}

.post-content{
    width: 75%;
    margin-left: 1%;
    border: none;
}

.postbutton-image{
    width: 12%;
    height: 12%;
    margin:-8px 6% 0 auto;
}
/* ↑投稿 */

/* ↓投稿リスト */
.aboutPost{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    border-bottom:1px solid gainsboro;
    width: 100%;
    padding:1% 0 1% 12%;
}

.postList-content {
    font-size: 1.2vw;
    width: 90%;
    margin: 0.8% 0 0 1.5%;
}

.postName {
    font-weight: 600;
}

.postListdate {
    float: right;
}

.postListText {
    width: 70%;
    padding: 2% 0 0 1px;
    word-break: break-all;
}

.postListImage {
    display: flex;
    height: 2.5vw;
    margin: 0 2% 0 auto;
}

.postListEditImage img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-top: 1px;
    padding-right: 2px;
}

.postListDeleteImage {
    position: relative;
    width: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    cursor: pointer;
}

.postListDeleteImage img:nth-of-type(2) {
    position: absolute;
    top: 42%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.postListDeleteImage img:nth-of-type(1) {
    position: absolute;
    top: 41%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 52%;
}

.postListDeleteImage:hover img:nth-of-type(2) {
    opacity: 0;
}
/* ↑投稿リスト */

/* ↓検索フォーム */
.search{
    display:flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin:4% 0 4% 6%;
}

.search input{
    font-size: 2vw;
    height: 4vw;
    min-width: 35%;
}
/* ↓画面サイズ小さくすると少し縦長になっちゃう */
.search button{
    width:auto;
    max-height: 50%;
    margin:1% 12% 1% 1%;
    padding:0.8%;
}

.search p{
    font-size: 1.5vw;
}

.eachUser{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    margin:3% 0 4% 28%;
}

.eachUser a{
    color: #fff;
}

.eachUser p{
    font-size: 1.3vw;
    font-weight: bold;
    width: 36%;
    margin:0 2% 0 2%;
}

/* ↑検索フォーム */

/* ↓フォローリスト */
.followList{
    display:flex;
    width: 100%;
    height: 100%;
    margin:4% 0 4% 6%;
}

.followList p{
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin:0 2% 0 2%;
}

.followList-box{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width: 40%;
    margin-top: -1%;
}

.followList-box a{
    margin-right: 3px;
}
/* ↑フォローリスト */

/* ↓プロフィール編集 */
.profilebox{
    display: flex;
    width: 100%;
    height: 100%;
    margin:6% 0 0 18%;
}

.loginuser-info{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    margin:0 0 0 2%;
    font-size: 1.6vw;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.loginuser-info label{
    margin:0 0 3% 2%;
    width: 30%;
}

.loginuser-info input{
    margin:0 0 3% 0;
}

.loginuser-info button {
    font-size: 1.6vw;
    margin: 2% 0 0 20%;
}
/* ↑プロフィール編集 */

/* ↓各プロフィール */
.user-profile{
    display:flex;
    margin:4% 0 2% 10%;
    font-size: 1.5vw;
    width: 100%;
}

.introduction{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    width: 80%;
    margin:0 0 0 2%;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.introduction p{
    font-size: 1.6vw;
    width: 70%;
    margin:1% 0 3% 1%;
}

.introduction a{
    margin-left: auto;
}
/* ↑各プロフィール */

/* ↑追加 */

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    height: 100%;
    width: 100%;
}

#container {
    flex: 0 0 76%;
}

#side-bar {
    flex: 0 0 24%;
    border-left: 1px solid grey;
    font-size: 1.3vw;
}

.side-menu{
    border-bottom: 1px solid #727272;
}

.side{
    padding: 4% 8% 8% 10%;
}

.side-menu p{
    padding:8px 0 8px 0;
}

.side-menu ul{
    width: 100%;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
}

.side-menu li a{
    color: black;
}

.side-menu li:first-child{
    padding:10% 0;
}

.side-menu li:nth-child(2){
    padding: 10% 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.side-menu li:last-child {
    padding:10% 0;
}

/* ↓hover時 */
.side-menu li:first-child:hover {
    background-color:skyblue;
}

.side-menu li:nth-child(2):hover {
    background-color:skyblue;
}

.side-menu li:last-child:hover {
    background-color:skyblue;
}
/* ↑hover時 */

.search-button{
    padding-top: 1rem;
    text-align: center;
}

/* ↓投稿編集モーダルレイアウト（カリキュラムコピペ）　*/
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* ↑投稿編集モーダルレイアウト（カリキュラムコピペ）　*/
