@charset "utf-8";

html {
    width:100%;
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "YuGothic", Yu Gothic, sans-serif;
}

ul,
li,
ol {
    list-style-type: none;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
    width: 24px;
    height: 24;
}

.btn-primary{
    font-size: 8px;
    padding: 4px auto;
    width: 6rem;
    letter-spacing: -0.05rem;
}

.spacer{
    width: 100%;
}

/* header */
header {
    background: #186AC9;
}

/* ↓追加 */
#head {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

#logo{
    margin-right: auto;
}

h1 .atlas {
    width:10vw;
}

.login-user{
    margin-top: 4px;
    font-size:2vw;
}

.accordion-button{
    width:auto;
    margin:4px 2% 0 2%;
    font-size: 2vw;
}

.login-avatar{
    width:4%;
    margin:2px 8px 0 0;
}
/* ↓共通にする予定 */
.head-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

/* ↓投稿 */
.top-page {
    background-color: #fff;
    margin-top: 10px;
}

.post-text{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    padding-left: 8%;
    border-bottom:3px solid gainsboro;
    font-size: 2vw;
}

.post-avatar {
    width: 6%;
    margin: 2px 8px 0 0;
}

.post-content{
    width: 75%;
    border: none;
}

.postbutton-image{
    width: 10%;
    height: 10%;
    margin-left: auto;
}

.postList{
    font-size: 1vw;
}

.aboutPost{
    display: flex;
    flex-wrap:wrap;
    border-bottom:1px solid gainsboro;
    padding:2% 1% 4% 10%;
}

/* ↑投稿 */

/* ↓プロフィール編集 */
.profile-page{
    padding:6% 0 0 16%;
}
/* ↑プロフィール編集 */


/* ↑追加 */

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    height: 100%;
    width: 100%;
}

#container {
    flex: 0 0 76%;
}

#side-bar {
    flex: 0 0 23%;
    border-left: 2px solid #727272;
    font-size: 0.5rem;
    font-weight: 600;
}

.side-menu{
    border-bottom: 1px solid #727272;
    padding: 8%;
}

.search-button{
    padding-top: 1rem;
    text-align: center;
}

/* ↓投稿編集モーダルレイアウト（カリキュラムコピペ）　*/
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* ↑投稿編集モーダルレイアウト（カリキュラムコピペ）　*/

/* ↓TOPページレイアウトCSS追加 */

.post-image{
    margin-right: 2%;
}

.postList-content{
    width: 100%;
}

.postListImage{
    display: flex;
    justify-content:flex-end;
}

.postListEditImage{
    width:auto;
}

.postListEditImage img{
    width: 50%;
    height: 40%;
    cursor: pointer;
}

.postListDeleteImage {
    position: relative;
    width: 45px;
    height: 35px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.postListDeleteImage img:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.postListDeleteImage img:nth-of-type(1) {
    position: absolute;
    top: 49%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 52%;
}
.postListDeleteImage:hover img:nth-of-type(2) {
    opacity: 0;
}

/* ↑TOPページレイアウトCSS追加 */
